/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}



.wrapper {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 18px;

    overflow: auto;
    width: 100vw;
    height: 100vh;

    max-width: 1366px;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;

    margin: 0 auto;

}
a{
    color: #FFFFFF;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0 17px 0;
}
.menu-logo-link {
    display: flex;
}
.menu-logo-img {
    margin: 0 8px 0 0;
}
.menu-logo-img-orange {
    display: none;
}
.menu-logo-link:hover .menu-logo-img-white {
    display: none;
}
.menu-logo-link:hover .menu-logo-img-orange {
    display: inline;
}
.menu-logo-title {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}
.menu-logo-link:hover .menu-logo-title {
    color: #F26522;
}
.menu-logo-bottom {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.menu-contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.email {
    margin-bottom: 18px;
}
.email:hover {
    color: #F26522;
    transition-duration: 0725s;
}
.phone:hover {
    color: #F26522;
    transition-duration: 0.75s;
}
.container {
    margin: 0 162px 0 162px;
}
.cards-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards-item {
    display: flex;
    flex-direction: column;
    position: relative;
}
.cards-item:hover > .card-item-view-details {
    visibility: visible;
    opacity: 1;
}
.card-item-view-details {
    background-color: #F26522;
    padding: 8px 14px 12px 16px;
    position: absolute;
    bottom: 26%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.75s;
}
.card-item-price-from {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}
.card-item-show-inform {
    display: flex;
    justify-content: space-between;
}
.card-item-details::after {
    content: ">";
    margin-left: 16px;
}
.card-item-name {
    margin: 20px auto 37px auto;
}
.cards-item:hover > .card-item-name {
    color: #F26522;
    transition-duration: 0.75s;
}
.copyright {
    color: #FFFFFF;
    text-align: center;
}
